@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


@import "tailwindcss";
@plugin '@tailwindcss/forms';

@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../storage/framework/views/*.php';

@theme {
    --color-brand-green: #01402e;
    --color-brand-green-dark: #00261c;
    --color-brand-gold: #d4af37;

    --font-GoogleSans: Google Sans, sans-serif;


    --background-image-gold-gradient: linear-gradient(
        90deg,
        #d4af37,
        #f9e6b3,
        #d4af37
    );

    --animate-shimmer: shimmer 5s linear infinite;
    --shadow-glow: 0 0 25px rgba(212, 175, 55, 0.45);
    --drop-shadow-text-readable: 0 2px 4px rgba(0, 0, 0, 0.5);

    @keyframes shimmer {
        0% {
            background-position: 0% center;
        }
        100% {
            background-position: 200% center;
        }
    }
}

@layer base {
    body {
        @apply font-GoogleSans bg-gray-50 text-gray-900;
    }
}

@utility site-font{
    font-family: Newsreader, serif;
}

/* Frontend Utility Classes */
@utility hero-text {
    font-optical-sizing: auto;
}

@utility text-gold-gradient {
    @apply bg-gold-gradient bg-size-[200%_auto] animate-shimmer bg-clip-text text-transparent;
}

@utility glow-hover {
    @apply transition-transform duration-300;
}
.glow-hover:hover {
    @apply shadow-glow -translate-y-1;
}

@utility btn-gold {
    @apply bg-brand-gold text-brand-green-dark transition-all duration-300 hover:bg-[#f1cf73] hover:shadow-glow;
}

@utility btn-dark {
    @apply bg-gray-900 text-white transition-all duration-300 hover:bg-black hover:shadow-lg;
}

@utility btn-red {
    @apply bg-red-600 text-white transition-all duration-300 hover:bg-red-700 hover:shadow-lg;
}
